@media (max-width: 1579px) {
  .testimonial-section .feedback-slider-wrapper {
    width: 100%;
    margin-left: 0;
    padding: 0 15px;
  }
  .testimonial-section .slick-slide {
    opacity: 1;
    transition: none;
  }
}

@media (max-width: 991.98px) {
  .header-section .container {
    max-width: 800px;
  }

  .hero-area .container {
    max-width: 800px;
  }

  .hero-area .container .row .hero-img {
    display: none;
  }
  .header-section .navigation-area .row .desktop-menu {
    display: none;
  }

  .header-section .navigation-area .row .header-btn {
    flex-shrink: 0;
  }
  .header-section .navigation-area .row .logo-wrapper a {
    position: initial;
    max-width: 200px;
    display: block;
  }

  .header-section .navigation-area .row .header-btn button {
    display: inline-block;
  }

  .header-section .top-bar .top-bar-left .top-bar-item a span:last-of-type {
    display: none;
  }
  .header-section .top-bar .top-bar-left .top-bar-item:last-child {
    margin-left: 5px;
  }
  .about-section .about-left .img-wrapper img {
    margin: 0 auto;
    max-width: 600px;
  }
  .about-section .about-right {
    margin-top: 30px;
    margin-left: 15px;
  }
  .team-section .team-top .team-btn {
    text-align: left;
    margin-top: 20px;
  }
  .team-section .team-bottom {
    margin-top: 60px;
  }
  .blog-section .blog-top-content .primary-btn {
    text-align: left;
    margin-top: 30px;
  }
  .blog-section .blog-articles {
    margin-top: 55px;
  }
  .footer-section .footer-widget.ml-60,
  .footer-section .footer-widget.ml-30 {
    margin-left: 0;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: 680px !important;
  }
  .pricing-section .pricing-plan .pricing-column {
    max-width: 320px;
  }
  .testimonial-section .slick-list {
    padding: 0 !important;
  }
  .testimonial-section .slick-slide {
    padding: 10px 10px !important;
  }

  .testimonial-section .feedback-slider-wrapper .fd-slider .fd-single {
    display: inline-block !important;
  }
  .testimonial-section
    .feedback-slider-wrapper
    .fd-slider
    .fd-single
    .fd-left
    img {
    margin: 0 auto;
  }
  .testimonial-section
    .feedback-slider-wrapper
    .fd-slider
    .fd-single
    .fd-right {
    margin-left: 0;
    margin-top: 25px;
    text-align: center;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 40px;
  }
  .header-section .top-bar {
    padding: 10px 24px;
  }
  .header-section .top-bar .top-bar-right .lang-switcher {
    display: none;
  }
  .header-section .navigation-area .row .header-btn a {
    display: none;
  }
  .about-section .about-author .md-info {
    flex-direction: column;
    align-items: flex-start;
  }
  .about-section .about-author .md-info .md-content {
    margin-left: 0;
    margin-top: 20px;
  }
  .about-section .about-author .md-info .md-content h5 {
    font-size: 20px;
  }
  .customers-section .ct-content-area .ct-column {
    width: 300px;
  }
  .team-section .team-top .team-title,
  .team-section .team-top .team-btn {
    text-align: center;
  }
  .blog-section .blog-top-content {
    text-align: center;
  }
  .blog-section .blog-top-content .primary-btn {
    text-align: center;
  }
  .blog-section .blog-articles {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 430px) {
  .hero-area .container .row .hero-left .subtitle span {
    padding-left: 0;
  }
  .hero-area .container .row .hero-left .subtitle span::before {
    display: none;
  }

  .hero-area .container .row .hero-left .hero-btns {
    flex-direction: column;
  }
  .hero-area .container .row .hero-left .hero-btns .video-btn {
    margin-top: 30px;
  }
}
